<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMX Webserver Template</title>
    <link href="/src/output.css" rel="stylesheet" />
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>

</head>
<body class="w-full m-auto max-w-[120rem] ">
    
    <h1 class="text-black font-medium text-3xl">Website Health check</h1>
<div class="flex justify-center ">

    <div class="flex flex-col justify-center w-full gap-4">
        <div >
            <h2 class="text-black text-xl font-light ">Live Websites</h2>
            <table class="flex flex-col  ">
                <thead class="">
                    <tr class=" border-r border-white flex w-full  bg-blue-700 text-white rounded-lg">
                        <th class="flex-1 border-r border-white p-4">Website Title</th>
                        <th class="flex-1 border-r border-white p-4">Website URL</th>
                        <th class="flex-1 border-r border-white p-4">Status</th>
                        <th class="flex-1 border-r border-white p-4">Actions</th>
                    </tr>
                </thead>
                <tbody class="w-full " id="website-list" >
                    
                    {{range . }}
                    {{ block "website-list-element" .}}
                            <tr class='py-2 w-full flex border-b border-gray-300 items-center' id="website-row-{{.Id}} ">
                              
                                    <td class=' w-full text-lg text-black '>
                                        {{ .Name }}
                                    </td>
                             
                               
                                    <td class='w-full text-lg text-black '>
                                        {{ .URL }}
                                    </td>
                             
                             
                                    <td class=' w-full  text-lg text-black' hx-get="/get-website-status?id={{.Id}}" hx-trigger="every 30s" >
                                        {{.Status }}
                                    </td> 
                                    <td class='w-full text-lg text-black'> <!-- Actions Dropdown Menu -->
                                        <div id="message" style="display: none; color: green; position: fixed; bottom: 20px; right: 20px; background-color: white; border: 1px solid black; padding: 10px;"></div>
                                        <div class="relative flex w-full">
                                     
                                            <div class=" w-full rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                                                <div class="py-1" role="none">
                                                    <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                                                    <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Edit</a>
                                                    <a href="/delete-website?id={{.Id}}"
                                                    hx-method="DELETE"
                                                    hx-target="#website-row-{{.Id}}"
                                                    hx-trigger="htmx:afterDelete"
                                                    hx-swap="outerHTML"
                                                    hx-confirm="Are you sure you want to delete this website?"
                                                    class="text-gray-700 block px-4 py-2 text-sm hover:text-red-600"
                                                    role="menuitem"
                                                    tabindex="-1"
                                                    id="menu-item-1">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                             
                           </tr>  
                         
                    {{end}}
                    {{ end }}


              
                </tbody>
                </table>
           
        </div>
    </div>
    <div class="flex ml-12  min-w-80  mr-48  ">
        <div >
            <h2 class="text-white text-xl font-light">Add Websites</h2>
            
            <form class="" hx-post="/add-website/" hx-target="#website-list" hx-swap="beforeend" hx-on:after-request="if(event.detail.successful) this.reset()">
                <div class="flex flex-col gap-4">
                    <div>
                        <label for="website-title" class="font-bold text-gray-700">Website Title</label>
                        <input type="text" name="website-title" id="website-title" class="form-control border ring-1 w-full px-2 py-1 rounded-md"></input>
                    </div>
                    <div>
                        <label for="website-url" class="font-bold text-gray-700">Website URL</label>
                        <input type="text" name="website-url" id="website-url" class="form-control border ring-1 w-full px-2 py-1 rounded-md"></input>
                    </div>
                    <button type="submit" class="px-4 py-2 w-auto rounded-xl bg-blue-700 text-white my-2">
                        Submit
                    </button>
                </div>
            </form>
            
        </div>
    </div>
</div>
</body>
</html>

<script>
    document.body.addEventListener('htmx:afterDelete', function(event) {
        var messageDiv = document.getElementById('message');
        messageDiv.innerText = 'Item deleted successfully.';
        messageDiv.style.display = 'block';
        setTimeout(function() {
            messageDiv.style.display = 'none';
        }, 3000); // Hide message after 3 seconds
    });
    </script>